/*body{
   font-family: 'Sora', sans-serif;
   font-weight: 400;
}*/
body{
   font-family: 'Montserrat', 'Noto Sans KR', AppleGothic, '돋움',sans-serif;
   font-size: 13px;
   color: #353535;
   background: #fff;
}