#title {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  background-image: url(../img/title.jpg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 100%;
  height: 100%;
}
#title .wrap {
  flex-direction: column;
  transform: translateX(100%);
  gap: 40px;
}
#title .wrap h2 {
  
}
#title .wrap p {
  
  font-size: 60px;
}
#title .wrap a {
  transform: translateY(40px);
  display: block;
}
#title .wrap a::after{
  content: "";
  background-image: url(../img/arrow.png);
  display: inline-block;
  width: 76px;
  height: 64px;
  transform: translate(20px,25px);
}